/* White water rafting stylesheet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: denim #005BB7;
    --secondary-color: alice-blue #E8F0FE;
    --accent1: argentinian-blue #64B5F6;
    --accent2: charcoal #37474F;
    --heading-font: "Open Sans", sans-serif;
    --text-font: "Lato", sans-serif;
}

body {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: black;
}

header {
    display: flex;
    margin: 1rem auto;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px 30px;
}

header img {
    width: 100px;
    height: auto;
    /* border-radius: 50%; */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #333;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: blue;
    font-weight: 600;
    text-decoration: underline;
}

main {
    width: 90%;
    margin: 20px auto;
}

.div.hero {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 200px;
    left: 40%;
    font-size: 2.5em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 1;
}

.hero article {
    position: absolute;
    bottom: 150px;
    left: 30%;
    background-color: rgb(72, 113, 160);
    padding: 20px 20px;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.hero article img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
}

.History {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section h2 {
    color: red;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
}

.History p {
    flex: 1;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 60%;
    padding: 0 auto;
}

.History img {
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.Adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Adventure h2 {
    color: red;
}

.Adventure figure {
    text-align: center;
}

.Adventure figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.Adventure figcaption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

footer {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    text-align: center;
    justify-content: space-around;
    padding: 20px 30px;
}

footer p {
    margin-bottom: 10px;
}

footer .sociallinks {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

footer .sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    height: 30px;
}