.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: denim #005BB7;
    --secondary-color: alice-blue #E8F0FE;
    --accent1: argentinian-blue #64B5F6;
    --accent2: charcoal #37474F;
    --heading-font: "Open Sans", sans-serif;
    --text-font: "Lato", sans-serif;
}

body {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-top: 20px;
    margin: 0 17%;
    justify-content: space-between;
}

header img {
    height: 70px;
    grid-column: 1;
}

header nav {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 70px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 18px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 5px;
}

header nav ul li a:hover {
    color: #007bff;
    font-weight: 700;
    text-decoration: underline;
}


main {
    width: auto;
    margin: 20px auto;
}


.contact-section {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
}

.contact-section p {
    text-align: center;
}

.headquarters-section,
.global-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.headquarters-section p {
    margin-top: 30px;
    margin-bottom: 20px;
}

.headquarters-section iframe {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
    height: 180px;
    border: 0;
}

.office-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 40%;
}

.office-info div {
    margin-bottom: 20px;
    width: 100%;
}

.global-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.global-section p {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}


.employees-section {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.employee-profiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.employee-profiles figure {
    text-align: center;
    width: 250px;
}

.employee-profiles img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.employee-profiles figcaption {
    margin-top: 8px;
    font-weight: 600;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-container div input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container div textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    height: 100px;
}

form fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

form fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
}

form fieldset label {
    display: block;
    margin: 5px 0;
}

.send-message-section {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}

.send-message-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.send-message-section p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.send-button {
    padding: 10px 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    margin-top: 10px;
}

.send-button:hover {
    background-color: #0056b3;
}

.div.hero {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-bottom: 2rem;
}

.hero img {
    width: 90%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 200px;
    left: 40%;
    font-size: 2.5em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 1;
}

.hero article {
    position: absolute;
    bottom: 150px;
    left: 30%;
    background-color: rgb(72, 113, 160);
    padding: 20px 20px;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.hero article img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
}

.History {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section h1 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

section h2 {
    color: #007bff;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
}

section h3 {
    color: #007bff;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 24px;
    text-align: left;
}


.History p {
    flex: 1;
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 60%;
    padding: 0;
}

.History img {
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.Adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Adventure figure {
    text-align: center;
}

.Adventure figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.Adventure figcaption {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

footer {
    display: flex;
    align-items: center;
    /* background-color: #ddd; */
    text-align: center;
    justify-content: space-around;
    padding: 40px;
}

footer p {
    font-size: 14px;
}

footer .sociallinks {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

footer .sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    height: 20px;
}